doctype html
html
  head
    title Mikhail Kryuchkov
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", type="text/css", href="main.sass")
    each size in [16, 32, 64, 128, 256]
      - const src = `favicon/${size}.png`
      - const fullSize = `${size}x${size}`
      link(rel="icon", type="image/png", href=src, sizes=fullSize)
  body
    //- - const App = require('./app.jsx');
    div#root
    script(type="text/javascript", src="main.jsx")